.container {
  width: 100%;
  height: 100%;
  margin: 2% 0;
  background-color: rgba(254, 254, 254, 1);
  display: flex;
  border-radius: 10px;
  cursor: pointer;
}


.image {
  width: 45%;
  height: 80%;
  margin: 5%;
  border-radius: 10px;
  background-color: antiquewhite;
}

.detail {
  margin: 5% 0 0 0;
}

.academy {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  font-weight: 700;
  padding: 2% 0;
}

.address {
  margin-bottom: 5%;
}

.address {
  font-size: 13px;
}

.tag {
  width: 100%;
  height: 15%;
}