.btn {
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
}

.button-full {
  color: white;
  background-color: #5467f5;
  transition: all ease-in-out .15s;
}

.button-empty {
  color: #5467f5;
  background-color: white;
  box-shadow: 0px 0px 3px 1.5px rgb(195, 195, 195);
}

.button-big {
  width: 250px;
  height: 60px;
  font-size: 16px;
}

.button-middle {
  width: 120px;
  height: 45px;
  font-size: 14px;
}

.button-empty:hover {
  color: white;
  background-color: #5467f5;
}

.button-full:hover {
  transform: scale(1.05);
}

.button-item {
  width: 120px;
  height: 60px;
  border-radius: 20px;
  margin-right: 10px;
  box-shadow: none;
  border: #5467f5 2px solid;
  font-size: 15px;
  font-weight: bolder;
}