.listItemInner {
  padding: 8px 18px;
  min-width: 0;
  min-height: 0;
  border-bottom: 1px solid #c0c0c0;
  background-color: #fff;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}

.listItem {
  width: 234px;
  min-width: 0;
  justify-content: center;
  display: flex;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.prfInner {
  padding-right: 12px;
}

.prfInner > .profile {
  position: relative;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  background-size: cover;
  background-image: url("../../assets/img/prfTeacher.png");
}

.info {
  width: 156px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  line-height: 18px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.chat {
  width: 100%;
  font-size: 13px;
  color: #333;
}

.name > span, .chat > span {  
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
} 