.container {
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 2px rgb(210, 210, 210);
  z-index: 30;
}

.prev {
  position: absolute;
  left: 22%;
  font-size: 22px;
  color: #494d56;
  cursor: pointer;
}

.location {
  font-size: 1.1rem;
  font-weight: 800;
  color: #454545;
}

#btn {
  margin-left: 1%;
  color: #868686;
  cursor: pointer;
}