.leftnav {
  width: 25%;
  height: 85%;
  padding: 1% 1% 0 1%;
  position: absolute;
  top: 7%;
  left: 0;
  background-color: rgba(159, 159, 159, 0.5);
  z-index: 20;
  display: grid;
  overflow: auto;
}

.item {
  width: 100%;
  height: 20%;
  margin-bottom: 5%;
}

.leftnav::-webkit-scrollbar {
  width: 7px;
}

.leftnav::-webkit-scrollbar-track {
  background-color: #ebebeb;
  border-radius: 30px;
}

.leftnav::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #949494;
}