.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  height: calc(100vh - 104px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.inner::-webkit-scrollbar {
  width: 0;
}

.inner::-webkit-scrollbar-horizontal {
  display: none;
}

.sliderContainer {
  width: 100%;
  min-height: 240px;
  height: 100%;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sliderContainer > * {
  width: 90%;
}

.content {
  min-height: 230px;
  height: 100%;
  border-radius: 16px;
  background-color: #ccc;
}

.color1 {
  background-color: #333;
}

.color2 {
  background-color: #ccc;
}

.col {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner1 {
  position: relative;
  height: 250px;
  max-width: 420px;
  width: 100%;
  display: flex;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(20, 20, 20, 0.1);
  gap: 5px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #eee;
  background-size: auto;
}

.banner2 {
  max-width: 320px;
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(20, 20, 20, 0.1);
  height: 250px;
  background-repeat: no-repeat;
  background-position: 100% bottom;
  background-color: #eee;
  background-size: auto;
}