.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  height: calc(100vh - 104px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.inner::-webkit-scrollbar {
  width: 0;
}

.inner::-webkit-scrollbar-horizontal {
  display: none;
}

.sliderContainer {
  width: 100%;
  min-height: 240px;
  height: 100%;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sliderContainer > * {
  width: 90%;
}

.content {
  min-height: 230px;
  height: 100%;
  border-radius: 16px;
}

.color1 {
  background-color: #333;
}

.color2 {
  background-color: #ccc;
}

.col {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(20, 20, 20, 0.1);
}

.shortBanner {
  max-width: 320px;
}

.longBanner {
  max-width: 420px;
}

.bannerColor1 {
  background: linear-gradient(to right, #6d79f8 0%, #83a2ff 100%);
}

.bannerColor2 {
  background: linear-gradient(to right, #8b96ff 0%, #b4bdff 100%);
}

.bannerColor3 {
  background: linear-gradient(to right, #ffb84e 0%, #ffd28f 100%);;
}

.bannerColor4 {
  background: linear-gradient(to right, #fdcd89 0%, #ffe3bb 100%);
}

.academy {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/test1.png");
  background-position: right bottom;
  background-size: 70%;
  background-repeat: no-repeat;
}

.work {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/test2.png");
  background-position: right bottom;
  background-size: 60%;
  background-repeat: no-repeat;
}

.teacher {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/test3.png");
  background-position: right bottom;
  background-size: 80%;
  background-repeat: no-repeat;
}

.map {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/test4.png");
  background-position: right bottom;
  background-size: 70%;
  background-repeat: no-repeat;
}