.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  height: calc(100vh - 104px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.inner::-webkit-scrollbar {
  width: 0;
}

.inner::-webkit-scrollbar-horizontal {
  display: none;
}

.sliderContainer {
  width: 100%;
  min-height: 240px;
  height: 100%;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sliderContainer > * {
  width: 90%;
}

.content {
  min-height: 230px;
  height: 100%;
  border-radius: 16px;
}

.color1 {
  background-color: #333;
}

.color2 {
  background-color: #ccc;
}

.col {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 240px;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
}

.banner:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.shortBanner {
  max-width: 300px;
}

.longBanner {
  max-width: 420px;
}

.bannerTitle {
  font-size: 17px;
  line-height: 115%;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.2px;
  color: #3d4149;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.bannerColor1 {
  background: linear-gradient(to top, rgba(179, 212, 255, 0.8), #fff);
}

.bannerColor2 {
  background: linear-gradient(to top, rgba(209, 234, 255, 0.8), #fff);
}

.bannerColor3 {
  background: linear-gradient(to top, rgba(185, 225, 255, 0.8), #fff);
}

.bannerColor4 {
  background: linear-gradient(to top, rgba(209, 224, 255, 0.8), #fff);
}

.academy {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/academy.png");
  background-repeat: no-repeat;
  background-position: 110% 30px;
  background-size: contain;  
}

.work {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/work.png");
  background-repeat: no-repeat;
  background-position: 110% 110px;
  background-size: contain;  
}

.teacher {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/teacher.png");
  background-repeat: no-repeat;
  background-position: 110% 97px;
  background-size: contain;  
}

.map {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/map.png");
  background-repeat: no-repeat;
  background-position: 110% 30px;
  background-size: contain;  
}