.container {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 100%;
  height: 70%;
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
}

.txt {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(141, 141, 141);
  font-size: 14px;
}