.container {
  width: 90%;
  margin-top: 7%;
  padding-bottom: 7%;
  display: grid;
  gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(160px, auto));
  overflow: auto;
}

.container::-webkit-scrollbar {
  width: 0px;
}

.item {
  width: 50%;
  height: 30%;
}