.info {
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  top: 7vh;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.container {
  display: flex;
  position: relative;
  margin-top: 4%;
  gap: 20px;
  padding-left: 60px;
  align-items: center;
}

.profile {
  border-radius: 50%;
  position: relative;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-image: url("../../assets/img/prfTeacher.png");
}

.mainInfo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.teachName {
  display: flex;
  color: #494d56;
  gap: 10px;
}

.teachName > div {
  font-weight: bold;
  font-size: 27px;
  line-height: 27px;
}

.teachName > span {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.25px;
  position: relative;
  top: 8px;
}

.actRange {
  display: flex;
  gap: 10px;
  margin: 10px 0 4px;
  align-items: center;
}

.loIcon, .loText, .actRange {
  letter-spacing: -0.25px;
  font-size: 14px;
}

.loText, .actRange {
  color: #333;
}

.loIcon {
  margin-bottom: 2px;
  color: #494d56;
}

.introContainer {
  padding: 0 60px;
  width: 100%;
  box-sizing: border-box;
}

.intro {
  font-size: 15px;
  line-height: 150%;
  text-align: left;
  letter-spacing: -0.2px;
  color: #494d56;
  background: #f8f8f8;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px 15px;
  white-space: pre-line;
  word-break: keep-all;
}

.contour {
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #ebedf2;
  margin: 0px;
}

.priceLists {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.infoInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  box-sizing: border-box;
  gap: 20px;
  position: relative;
}

.pList {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all .3s ease;
}

.pList:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(20, 20, 20, 0.15);
}

.lInfo {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  color: #5467f5;
  padding: 20px 30px;
  width: 160px;
}

.lDetailInfo {
  display: flex;
  justify-content: space-between;
}

.diText {
  display: flex;
  padding-left: 30px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #494d56;
}

.a1 {
  position: absolute;
  width: 38%;
  height: 30%;
  background-color: #dfe1f1;
  top: 0;
  right: 0;
  border-radius: 30px;
  transform: rotate(-45deg);
}

.a2 {
  position: absolute;
  width: 40%;
  height: 30%;
  background-color: #d2d6e6;
  bottom: 0;
  right: 0;
  border-radius: 30px;
  transform: rotate(-45deg);
}

.infoTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #494d56;
}

.content {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.2px;
  color: #494d56;
  white-space: pre-line;
  word-break: keep-all;
}

.snsIcon, .snsText {
  font-size: 15px;
  color: #5467f5;
  text-decoration: none;
}

.snsIcon {
  margin-right: 8px;
}