.container {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  color: #545454;
  cursor: pointer;
}

.container:hover {
  color: #5467f5;
}

.icon {
  width: 100%;
  height: 70%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}

.txt {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.2px;
}