.starContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  color: rgb(144, 144, 144);
}

.starContainer > svg {
  width: 50px;
  height: 50px;
}

.star {
  width: 100%;
  height: 60%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input > input {
  outline: none;
  border-radius: 10px;
  width: 60%;
  height: 35px;
  padding: 1% 2% 1% 2%;
  margin-right: 10px;
}

.container {
  width: 100%;
  height: 80%;
}