.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.inner::-webkit-scrollbar {
  width: 0;
}

.inner::-webkit-scrollbar-horizontal {
  display: none;
}

.sliderContainer {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sliderContainer > * {
  width: 90%;
}

.content {
  min-height: 230px;
  height: 90%;
  border-radius: 16px;
  box-shadow: inset 0px 0px 2px 1px rgb(221, 221, 221);
  background-size: cover;
  background-position: center;
}

.bannerInner {
  min-height: 360px;
  height: 100%;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
}

.alignRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.alignCol {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 5%;
}

.banner {
  position: relative;
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all .3s ease;
}

.banner:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.smBanner {
  box-sizing: border-box;
  width: 100%;
  min-height: 110px;
  height: 100%;
}

.lgBanner {
  width: 55%;
  height: 300px;
}

.bannerTitle {
  font-size: 17px;
  line-height: 115%;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.2px;
  color: #3d4149;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.bannerColor1 {
  background: linear-gradient(to top, rgba(209, 224, 255, 0.8), #fff);
}

.bannerColor2 {
  background: linear-gradient(to top, rgba(232, 255, 212, 0.3), #fff);
}

.bannerColor3 {
  background: linear-gradient(to top, rgba(179, 225, 255, 0.3), #fff);
}

.academy {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/bnAcademy.png");
  background-repeat: no-repeat;
  background-position: 110% 10px;
  background-size: contain;  
}

.teacher {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/bnTeacher.png");
  background-repeat: no-repeat;
  background-position: 110% 10px;
  background-size: contain;  
}

.map {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/bnMap.png");
  background-repeat: no-repeat;
  background-position: 110% 50px;
  background-size: contain;  
}