.inner {
  display: flex;
  width: 100%;
  height: calc(100vh - 110px);
  padding-top: 50px;
  padding-bottom: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inner::-webkit-scrollbar {
  width: 0;
}

.inner::-webkit-scrollbar-horizontal {
  display: none;
}

.chatList {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: max-content;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
}

.withChat {
  min-width: 400px;
  max-width: 630px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.chatUser {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: left;
  background-color: #fff;
}

.chatUserInner {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.chatUserName {
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.chatUserProfile {
  border: 1px solid #ccc;
  position: relative;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-image: url("../../../assets/img/prfTeacher.jpg");
}

.chatLog {
  height: calc(100% - 144px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chatLog::-webkit-scrollbar {
  width: 0;
}

.chatLog::-webkit-scrollbar-horizontal {
  display: none;
}

.messageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.myMessageContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.myMessage {
  background-color: #5467f5;
  color: #fff;
  border-radius: 8px 0px 8px 8px;
  padding: 9px;
  margin-right: 10px;
  max-width: 200px;
  font-size: 12px;
}

.yourMessageContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  align-items: center;
}

.yourMessage {
  background-color: white;
  border: 1px solid #808080;
  border-radius: 0px 8px 8px 8px;
  padding: 8px;
  margin-left: 10px;
  max-width: 200px;
  font-size: 12px;
}

.inputArea {
  max-height: 50px;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 14px;
  border: 1px solid #333;
  border-radius: 16px;
}

input:focus {
  outline: none;
}

.sendButton {
  max-width: 80px;
  width: 100%;
  border-radius: 16px;
  margin-left: 5px;
  background-color: #5467f5;
  color: #fff;
  border: none;
}

.sendButton:hover {
  cursor: pointer;
}

.sendButton:active {
  background-color: #4457e5;
}

.sendButton:disabled {
  background-color: #808080;
}